<form action="" method="get">
  <input type="search" name="movie_name" />
  <button type="submit">Search</button>
</form>

<ol>
  {% for movie in page_obj %} {# Each "contact" is a Contact model object. #}
  <li>{{ movie.name }} ({{ movie.year }})</li>
  <br />
  {% endfor %}
</ol>

<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
    <a href="?page=1&movie_name={{ search_param }}">&laquo; first</a>
    <a href="?page={{ page_obj.previous_page_number }}&movie_name={{ search_param }}">previous</a>
    {% endif %}

    <span class="current"> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}. </span>

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}&movie_name={{ search_param }}">next</a>
    <a href="?page={{ page_obj.paginator.num_pages }}&movie_name={{ search_param }}">
      last &raquo;
    </a>
    {% endif %}
  </span>
</div>
